body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .upi-container {
    background-color: #db8282;
    color: rgb(20, 19, 19);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  
  .upi-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .upi-header h4 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .upi-header p {
    margin: 5px 0;
  }
  
  .upi-logo-section {
    text-align: right;
  }
  
  .upi-logo-section img {
    width: 50px;
  }
  
  .upi-title {
    margin: 30px 0 10px;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .pin-dots {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    border: 2px solid #131212;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .dot.filled {
    background-color: white;
  }
  
  .upi-note {
    background-color: #09090a;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 85%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 15px;
  }
  
  .key {
    height: 60px;
    width: 70px;
    background-color: #1f2c6f;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .key.special {
    background-color: #0c0c0c;
    font-size: 1.5rem;
  }
  .warning{
    color: #09090a;
  }
  .code{
    color: #09090a;
  }
  .pin-input{
    color: white;
  }
  .submit-btn{
    padding-left: 5%;
    margin-top: 4%;
    align-items: center;
  }